Fortran/radiocarbon_statistics
calibrate/OxCal/
GIS/region_project.qgs~
Fortran/extract_calc_sea_level
Fortran/shared_subs.mod
Fortran/shared_subs.o
Fortran/sl_diff_params2
latex/plots/
latex/temp/
GIS/sl_points.txt
latex/calculated_sea_level/
latex/figure_tex/
latex/gmt.history
latex/report.pdf
latex/report.toc
latex/statistics/
latex/statistics_tex/
latex/report.out
regions/Europe/Norrbotten/
regions/Europe/Angermanland/
regions/Europe/Aland/
regions/Europe/Bornholm/
regions/Europe/Copenhagen/
regions/Europe/Gastrikland/
regions/Europe/Great_Belt/
regions/Europe/Gulf_Of_Finland/
regions/Europe/Gulf_Of_Riga/
regions/Europe/Halden/
regions/Europe/Halland/
regions/Europe/Kaliningrad/
regions/Europe/Kattegat/
regions/Europe/Kiel/
regions/Europe/Kragerod_Porsgrunn/
regions/Europe/Limfjord/
regions/Europe/Mecklenburg/
regions/Europe/Northern_Jylland/
regions/Europe/Ostrobothnia/
regions/Europe/Oulu/
regions/Europe/Ski/
regions/Europe/Stavanger/
regions/Europe/Stockholm/
regions/Europe/Turku/
regions/Eurasian_Arctic/Agardbukta/
regions/Eurasian_Arctic/Bockfjorden/
regions/Eurasian_Arctic/Broggerhalvoya/
regions/Eurasian_Arctic/Diskobukta/
regions/Eurasian_Arctic/Humla/
regions/Eurasian_Arctic/Kapp_Ziehen/
regions/Eurasian_Arctic/Kongsoya/
regions/Eurasian_Arctic/Norkinn/
regions/Eurasian_Arctic/Rolfsoya/
regions/Eurasian_Arctic/Sorkapp_Land/
regions/Eurasian_Arctic/Southern_Edgeoya/
regions/Eurasian_Arctic/Svartknausflya/
regions/Eurasian_Arctic/Ytterdalen/
regions/Europe/Bjugn/
regions/Europe/Frosta/
regions/Europe/Sotra/
regions/Europe/Sula/
regions/Europe/Torvikbygd/
regions/Southeast_Asia/dummy/
latex/references.bib.bak
GIS/temp/
calibrate/OxCalDistribution.zip
regions/Europe/Baltic.ods
regions/Europe/baltic_date.gnumeric
