test/
plots/
temp/
figure_tex/
gmt.history
report.pdf
report.toc
statistics/
statistics_tex/
report.out
v1.3/
references.bib.sav
report2.out
report2.pdf
report2.tex
report2.toc
GAPSLIP_report.out
GAPSLIP_report.pdf
GAPSLIP_report.toc

